<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    body {
      margin: 0;
      overflow: hidden;
    }
    </style>
  </head>
  <body>
    <h1 class="display-5 ml-5 mt-5">Choose at least 3 courses you've liked at Penn:</h1>
    <a class="btn btn-outline-secondary ml-5 mt-5" href="/recommend" role="button">I'm done choosing</a>

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.4.3/pixi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p2.js/0.7.1/p2.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
            var data = [];
            var names = {{courses | safe}};
            for (var i = 0; i < names.length; i ++) {
               data.push({name: names[i], color: 0xff2c55});
            }

<!--            var data = [-->
<!--                {name: "hello", color: 0xff2c55},-->
<!--                {name: "Smashing Pumpkins", color: 0xff2c55},-->
<!--                {name: "Weezer", color: 0xff2c55},-->
<!--                {name: "Pearl Jam", color: 0xff2c55},-->
<!--                {name: "American Analog Set", color: 0xff2c55},-->
<!--                {name: "Sigur Ros", color: 0xff2c55},-->
<!--                {name: "Radiohead", color: 0xff2c55},-->
<!--                {name: "Do Make Say Think", color: 0xff2c55},-->
<!--                {name: "Godspeed You Black Emperor!", color: 0xff2c55}-->
<!--            ]-->


            function getCoords(ev, canvas){
                var rect = canvas.getBoundingClientRect();
                var x = ev.data.global.x - rect.left - rect.width / 2;
                var y = ev.data.global.y - rect.top - rect.height / 2;

                return [x, -y];
            }

            var balls = [];
            var renderer = PIXI.autoDetectRenderer(
              window.innerWidth, window.innerHeight,
              { transparent: true, antialias: true, }
            );
            document.body.appendChild(renderer.view);


            var world = new p2.World({ gravity: [0, 0] });
            world.defaultContactMaterial.friction = 0.2;
            //means it never stops:
            world.defaultContactMaterial.restitution = 0.9;
            // world.defaultContactMaterial.stiffness = Number.MAX_VALUE;
            world.defaultContactMaterial.stiffness = 1e7;
            // Create a body for the cursor
            var mouseBody = new p2.Body();
            world.addBody(mouseBody);

            var stage = new PIXI.Container();
            stage.position.set(renderer.width/2, renderer.height/2);
            stage.scale.set(1,-1);

            //ceiling
            var planeShape = new p2.Plane();
            var ceiling = new p2.Body({
              position:[0,renderer.height/2],
              angle: Math.PI ,
              damping: 0
            });
            ceiling.addShape(planeShape);
            world.addBody(ceiling);
            //floor
            planeShape = new p2.Plane();
            var floor = new p2.Body({
              position:[0,-renderer.height/2],
              damping: 0
            });
            floor.addShape(planeShape);
            world.addBody(floor);

            //left wall
            planeShape = new p2.Plane();
            wallLeft = new p2.Body({
              position:[-renderer.width/2,0],
              angle: -Math.PI / 2,
              damping: 0
            });
            wallLeft.addShape(planeShape);
            world.addBody(wallLeft);

            //right wall
            planeShape = new p2.Plane();
            wallRight = new p2.Body({
              position:[renderer.width/2,0],
              angle: Math.PI / 2,
              damping: 0
            });
            wallRight.addShape(planeShape);
            world.addBody(wallRight);


            var Ball = function (t, c, r, x) {

                this.init = function () {
                    this.el = new PIXI.Container();
                    this.el.scale.set(1,-1);
                    this.baseRadius = this.radius = r;

                    this.circle = new PIXI.Graphics();
                    this.circle.beginFill(c);
                    this.circle.drawCircle(0, 0, this.radius);
                    this.circle.endFill();
                    this.circle.interactive = true;
                    this.circle.hitArea = new PIXI.Circle(0, 0, this.radius);
                    this.el.hitArea = this.circle.hitArea;
                    this.circle.scale.set(1,-1);
                    this.el.addChild(this.circle);

                    stage.addChild(this.el);

                    var text = new PIXI.Text(t, {
                        fontFamily : 'Arial',
                        fontSize: 14,
                        fill : 0xffffff,
                        align : 'center',
                        wordWrap: true
                    });
                    text.anchor.set(0.5)
                    this.el.addChild(text);

                    var startX = Math.round(Math.random() * renderer.width) - renderer.width / 2;
                    var startY = Math.round(Math.random() * renderer.height) - renderer.height / 2;

                    this.shape = new p2.Circle({radius: this.radius});
                    this.body = new p2.Body({
                        mass: 1e3,
                        position: [startX, startY],
                    });

                    this.body.angularDamping = 0;
                    this.body.damping = 0;
                    this.body.addShape(this.shape);

                    world.addBody(this.body);
                }

                this.update = function () {
                    this.el.position.x = this.body.position[0];
                    this.el.position.y = this.body.position[1];
                    //this.el.rotation = this.body.angle;
                }

                var mouseConstraint;
                this.onPointerDown = function (ev) {
                    if (mouseConstraint) {
                      world.removeConstraint(mouseConstraint);
                      mouseConstraint = null;
                    }
                    var coords = getCoords(ev, renderer.view);
                    var localPointInBox = p2.vec2.create();
                    this.body.toLocalFrame(localPointInBox, coords);

                    mouseConstraint = new p2.RevoluteConstraint(mouseBody, this.body, {
                      localPivotA: [0,0], localPivotB: localPointInBox
                    });
                    world.addConstraint(mouseConstraint);
                }

                this.onPointerMove = function (ev) {
                    var coords = getCoords(ev, renderer.view);
                    mouseBody.position[0] = coords[0];
                    mouseBody.position[1] = coords[1];
                }


                this.onPointerUp = function (ev) {
                    world.removeConstraint(mouseConstraint);
                    mouseConstraint = null;
                }

                this.click = function () {
                    this.enlarged = !this.enlarged;
                    TweenMax.to(this, 0.2, {
                        radius: this.enlarged ? this.baseRadius+20 : this.baseRadius,
                        onUpdate: this.updateRadius.bind(this),
                        onComplete: this.updateRadius.bind(this)
                    });
                }

                this.updateRadius = function () {
                    this.shape.radius = this.radius;
                    this.circle.clear();
                    this.circle.beginFill(c);
                    this.circle.drawCircle(0, 0, this.radius);
                    this.circle.endFill();
                    this.body.updateBoundingRadius();
                    this.circle.hitArea.radius = this.radius;
                }

                this.init.call(this);
                this.circle.click = this.click.bind(this);
                this.el.interactive = true;
                this.el.on('pointerdown', this.onPointerDown.bind(this));
                this.el.on('pointermove', this.onPointerMove.bind(this));
                this.el.on('pointerup', this.onPointerUp.bind(this));
                this.el.on('pointerupoutside', this.onPointerUp.bind(this));
                this.el.on('pointercancel', this.onPointerUp.bind(this));
            }

            for (var i = 0; i < data.length; i ++) {
                var ball = new Ball(data[i].name, data[i].color, 50, i);
                balls.push(ball);
            }

            window.addEventListener('resize', function () {
              var width = window.innerWidth;
              var height = window.innerHeight;
              var halfWidth = width / 2;
              var halfHeight = height / 2;
              renderer.resize(width, height);
              floor.position[1] = -halfHeight;
              ceiling.position[1] = halfHeight;
              wallRight.position[0] = halfWidth;
              wallLeft.position[0] = -halfWidth;
              stage.position.set(halfWidth, halfHeight);
            })

            setInterval(() => {
              var index = Math.round(Math.random() * balls.length);
              var ball = balls[index];
              ball.body.applyForce([-ball.body.position[0] * 100, -ball.body.position[1] * 100])
              //this.body.applyForce([-this.body.position[0] / 10000, -this.body.position[1] / 10000]);
            }, 5000);

            var fixedTimeStep = 1 / 60; // seconds
            var maxSubSteps = 10; // Max sub steps to catch up with the wall clock
            var lastTime;

            function animate(time) {
                requestAnimationFrame(animate);
                //var deltaTime = lastTime ? (time - lastTime) / 1000 : 0;
                world.step(fixedTimeStep);
                for (var i = 0; i < balls.length; i ++) {
                    balls[i].update();
                }
                renderer.render(stage);
                //lastTime = time;
            }
            animate();
            console.log(world)
    </script>
  </body>
</html>