<!doctype html>
<html lang="en">
  <head>
      <title>Learn more</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h1 class="display-2 ml-5 mt-5"> How it works </h1>

        <p class="lead ml-5 mr-5 mt-5">
            PennCourseReview is a recommender system that uses a content filtering approach to recommend CIS courses to students
            based off a selection of courses they've historically enjoyed. The language relevant to a course is encoded with
            pre-trained <a href=https://allennlp.org/elmo>ELMo</a> word-embeddings loaded using the fantastic
            <a href=https://github.com/plasticityai/magnitude>Magnitude</a> package. PennCourseReview's frontend is built using
            Bootstrap and JavaScript. The Bubble UI is rendered through <a href=https://www.pixijs.com/>PixiJS</a> using a template provided
            by Mark Elphinstone-Hoadley <a href=https://codepen.io/marksyzm/pen/rYzBgQ>here</a> .
        </p>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>